<h1><%= @result ? 'Bonne réponse ! 🎉' : 'Mauvaise réponse... 😢' %></h1>
<div class="actions mt-4">
  <%= link_to 'Nouvelle question', new_question_questions_path, class: 'btn btn-success' %>
  <%= link_to 'Contribuer', new_painting_path, class: 'btn btn-warning' %>
</div>
