<section class="page">
  <div class="container">
    <div class="intro-content">
      <h1>Crédits &#x1F4DD</h1>
      <div>
        <h3>Conception et réalisation</h3>
        <p>BUT MMI Bordeaux, Promotion 2A – Groupe 2</p>
        <p>Encadrement : Alexis Benoît, Sacha André, Anthony Ferreti, Thibaut Charon</p>
      </div>

      <div>
        <h3>Établissement de formation</h3>
        <p>IUT Bordeaux Montaigne</p>
        <p>1 Rue Jacques Ellul, 33800 Bordeaux</h3>
      </div>

      <div>
        <h3>Projet réalisé dans le cadre de</h3>
        <p>Baccanight 2025</p>
      </div>

      <div>
        <h3>Remerciements</h3>
        <p>Nous remercions chaleureusement le Musée des Beaux-Arts de Bordeaux, Sarah Choux, Alexis Benoît, Sacha Andre,  Anthony Ferreti, Thibaut Charon.</p>
      </div>
      <%= link_to home_index_path do %>
      <div class="bouton-container">
        Retour
      </div>
      <% end %>
    </div>
  </div>
</section>
