<section>
  <div class="container">
    <div class="intro-content">
      <h1>Crédits</h1>
      <div>
        <p class="fw-bold">Conception et réalisation</p>
        <p>BUT MMI Bordeaux, Promotion 2A – Groupe 2</p>
        <p>Encadrement : Alexis Benoît, Sacha André, Anthony Ferreti, Thibaut Charon</p>
      </div>

      <div>
        <p class="fw-bold">Établissement de formation</p>
        <p>IUT Bordeaux Montaigne</p>
        <p>1 Rue Jacques Ellul, 33800 Bordeaux</p>
      </div>

      <div>
        <p class="fw-bold">Projet réalisé dans le cadre de</p>
        <p>Baccanight 2025</p>
      </div>

      <div>
        <p class="fw-bold">Remerciements</p>
        <p>Nous remercions chaleureusement le Musée des Beaux-Arts de Bordeaux, Sarah Choux, Alexis Benoît, Sacha Andre,  Anthony Ferreti, Thibaut Charon.</p>
      </div>
      <%= link_to home_index_path do %>
      <div class="bouton-container">
        <div class="bouton-container-top">
          Retour
        </div>
        <div class="bouton-container-bottom">
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
