<section>

    <div class="home-top-section">
        dkfjhfjgkdjh
    </div>

    <div class="home-buttons-section container">
      <%= link_to home_intro_path do %>
      <div class="bouton-container">
        Jouer
      </div>
      <% end %>
      <div class="credits-bouton-container">
        <%= link_to home_credits_path do %>
          <div class="bouton-credits">
            Crédits
          </div>
        <% end %>
      </div>
    </div>

  </div>

</section>
