<section>
    <div class="home-title-section">
      <h1 class="text-uppercase main-title">Musémoji</h1>
      <p>Devine le tableau... avec des emojis</p>
    </div>

    <div class="home-buttons-section container">
      <%= link_to home_intro_path do %>
      <div class="bouton-container">
        Jouer
      </div>
      <% end %>
      <div class="credits-bouton-container">
        <%= link_to home_credits_path do %>
          <div class="bouton-credits">
            Crédits
          </div>
        <% end %>
      </div>
    </div>

  </div>

</section>
