<div style="overflow-x: hidden;">
  <section class="container-home">
    <div class="back">

      <div class="text-header">
        <h1 class="h1-home">Musémoji</h1>
        <div class="big-emojiiii">👩🏽‍🎨</div>
      </div>

    </div>

    <div class="home-buttons-section container">
      <%= link_to home_intro_path do %>
      <div class="bouton-container">
        Jouer
      </div>
      <% end %>
      <div class="credits-bouton-container">
        <%= link_to home_credits_path do %>
        <div class="bouton-credits">
          Crédits
        </div>
        <% end %>
      </div>
    </div>
  </section>
<div>





<style>
  .back {
    width: 150%;
    height: 50vh;
    background-image: url(https://pba.lille.fr/var/www/storage/images/palais-des-beaux-arts-de-lille/collections/chefs-d-oeuvre/peintures-xvi-sup-e-sup-xxi-sup-e-sup-siecles/jesus-chez-marthe-et-marie/8538-3-fre-FR/Jesus-chez-Marthe-et-Marie_artwork_illustration.jpg);
    border-radius: 0px 0px 45% 45%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .h1-home {
    color: #FFF !important;
    text-align: center !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    font-family: "IBM Plex Mono" !important;
    font-size: 48px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 100% !important;
    /* 48px */
    text-transform: uppercase !important;
  }

  .big-emojiiii {
    font-size: 166px;
    background-color: white;
    padding: 0px 24px;
    border-radius: 24px;
  }

  .text-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -28px;
    align-items: center;
    gap: 34px;
  }

  .container-home {
    position: absolute;
    top: 0;
    width: 100%;
    left: -25vw;
    height: 100%;
  }
</style>
