<section>
  <div class="intro-image-section"><img src="https://file.natvand.eu.org/api/shares/lp4yViSF/files/d4f85488-8d9f-4d1e-9af7-4d8953383d6f"></div>
  <div class="container">
    <div class="intro-content">
      <h1>Devine le tableau ! &#x1F914</h1>
      <p>Les “d’jeuns” utilisent des emojis pour tout et n’importe quoi... Mais avant de “rager” inutilement, testons la validité de ces idéogrammes.  </p>
      <p>Affrontez les perceptions des autres utilisateurs, et apportez votre pierre à l’édifice en décrivant à votre tour des oeuvres !</p>
        <%= link_to new_question_questions_path do %>
        <div class="bouton-container">
            Jouer
        </div>
        <% end %>
    </div>
  </div>
</section>
