.bouton-container {
  display: flex;
  width: 100%;
  height: 57px;
  font-family: "IBM Plex Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  background-color: $black;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
}

.bouton-indice {
  background-color: $black;
  color: white;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  border: none;
  padding: 8px 18px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.bouton-tableau {
  background-color: $black;
  color: white;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  border: none;
  padding: 8px 18px;
  display: flex;
  margin-right: auto;
  align-items: center;
  gap: 12px;
}

.credits-bouton-container {
  display: flex;
  justify-content: center;
}

.button-suppresion {
  width: 46px;
  height: 100%;
  background: $black;
  color: white;
  border-radius: 2px;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.disable {
  background-color: #949292 !important;
  cursor: not-allowed;
}
