.emoji-selection-interface {
  display: flex;
  gap: 18px;
  height: 52px;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  border: 1px solid $black;
  border-radius: 2px;
  font-size: 35px;
  padding: 4px;
}

.emoji-selection-container {
  display: flex;
  flex-direction: column;
}

.emoji-card {
  height: fit-content;
  font-size: 32px;
  width: 55px;
  height: 55px;
}

.emoji-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  width: 100%;
  height: auto;
  max-height: 320px;
  border: solid 1px $black;
  margin-bottom: 32px;
  justify-content: space-between;
}

.contribute-location-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contribute-location-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.painting-location {
  width: 100%;
  height: auto;
  margin-top: 24px;
}

.painting-location img {
  width: 100%;
}

.contribute-text-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
}

.emoji-selection-interface-emojis {
  display: flex;
  width: 400px;
  gap: 15%;
  margin-left: 10%;
}

.emoji-results {
  width: 50px;
  height: 50px;
}

.emoji-card.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.emoji-results img{
  aspect-ratio: 50/50;
  object-fit: cover;
  border: solid black 1px;
}
