.emoji-selection-interface {
  display: flex;
  gap: 18px;
  height: 52px;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
  border: 1px solid $black;
  border-radius: 2px;
}

.emoji-card {
  height: fit-content;
}

.emoji-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  width: 100%;
  height: auto;
  max-height: 300px;
}

.contribute-location-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contribute-location-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.painting-location {
  width: 100%;
  height: auto;
  margin-top: 24px;
}

.painting-location img {
  width: 100%;
}

.contribute-text-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
}
