.main-title {
  font-size: 48px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100% !important;
}

.home-buttons-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  padding-bottom: 24px;
  padding-top: 12px;
}

.bouton-credits {
  color: $black;
  text-decoration: underline;
  font-family: "IBM Plex Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.home-title-section {
  text-align: center;
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-top-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 45vh;
  overflow: hidden;
}

.home-top-section img{
  width: 100%;
}

.home-emoji-top {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
  bottom: -10px;
  margin-left: auto;
  margin-right: auto;
}

.home-big-emoji {
  background-color: white;
  padding: 8px;
  border-radius: 24px;
  font-size: 165px;
}
