.new-questions-text-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.painting-image {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  position: absolute;
}

.painting-image-background {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.60);
  position: absolute;
}

.painting-logo {
  position: absolute;
  z-index: 3;
}


.painting-card{
  aspect-ratio: 145/135;
  width: 145px;
  height: 135px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.painting-image img{
  object-fit: cover;
}


.emoji-question {
  width: 50px;
  height: 50px;
}

.emoji-question img{
  aspect-ratio: 50/50;
  object-fit: cover;
  border: solid black 1px;
}

.paintings-grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 78px 0px;
  margin-bottom: 64px;
}

.painting-description {
  font-size: 8px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.painting-radio {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}

.modal-header {
  border: none !important;
}

.result-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.big-emoji {
  font-size: 212px;
  display: flex;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.question-buttons-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.emoji-combination {
  display: flex;
  gap: 18px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 52px;
}

.emoji {
  width: 52px;
  height: 52px;
}

.result-text-false {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.result-false-image {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emoji-rebus {
  width: 100%;
  height: auto;
}
